body { margin: 0; background-color: floralwhite; }
h3 { margin: 0; }
div.play-audio-container { margin: 0 0 10px 0; width: 100vw; }
button.play-audio {
  border: none;
  background-color: goldenrod;
  width: 100vw;
  height: 90vh;
  font-size: 150px;
  color: green;
}
a.audio-file { margin: 1vh 0; }
