body { margin: 0 2vw; background-color: floralwhite; }
h3 { margin: 0; }
div.play-audio-container { margin: 0 0 10px 0; width: 96vw; }
button.play-audio {
  border-radius: 0;
  border: 2vw inset green;
  background-color: goldenrod;
  width: 90vw;
  height: 75vh;
  font-size: 170px;
  color: green;
}
a.audio-file { margin: 1vh 0; }
