body { margin: 0 8px; background-color: floralwhite; }
h3 { margin: 0; }
audio { margin-bottom: 10px; width: 100%; height: 75vh; }
audio::-webkit-media-controls-enclosure, .media-controls-enclosure { max-height: unset; border-radius: 0; }
audio::-webkit-media-controls-panel,
.media-controls-panel { padding-left: 0; width: 100%; background-color: floralwhite; }
audio::-webkit-media-controls-play-button,
.media-controls-play-button {
  flex-grow: 3;
  height: 100%;
  border: 10px inset green;
  background-size: contain;
  background-color: red; /* goldenrod; */
}
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-volume-control-container { display: none; }
